@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;

@{
    string controller =
        ViewContext.RouteData.Values["controller"].ToString();
    string action =
        ViewContext.RouteData.Values["action"].ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - The Bookman</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <div id="container">
        <div class="container">
            <header>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/brandLogo.png" id="logo" class="d-block mx-auto" />
                </a>
                <nav class="navbar navbar-expand-md navbar-light bg-white">
                    <button class="navbar-toggler" type="button"
                            data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <nav class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-link
                               @(controller == "Home" && action == "Index" ? "active" : "")"
                               asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            <a class="nav-link
                               @(controller == "Book" ? "active" : "")" asp-area=""
                               asp-controller="Book" asp-action="List">View Catalog</a>
                            <a class="nav-link
                               @(controller == "Home" && action == "About" ? "active" : "")"
                               asp-controller="Home" asp-action="About">About Us</a>
                        </div>
                        <ul class="navbar-nav ml-auto">
                            @if (signInManager.IsSignedIn(User))
                            {

                                <li class="nav-item">
                                    <form method="post" asp-action="Logout" asp-controller="Account">
                                        <button type="submit" class="nav-link btn btn-link nav-link"
                                                style="width:auto">
                                            Logout, @User.Identity.Name
                                        </button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link"
                                       asp-controller="Account" asp-action="Register">
                                        Register
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link"
                                       asp-controller="Account" asp-action="Login">
                                        Login
                                    </a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Admin" asp-controller="Home"
                                   asp-action="Index">
                                    Admin
                                </a>
                            </li>
                        </ul>
                    </nav>
                </nav>
            </header>
        </div>
        <div id="main">
            @RenderBody()
        </div>

        @if (IsSectionDefined("Scripts"))
        {
            @RenderSection("Scripts", required: true)
        }



    </div>
    <footer id="footer">
        <hr />
        <p>&copy; @DateTime.Now.Year - The Bookman | 631 W Colorado Ave, Colorado Springs, CO 80905 | (719) 636-0055</p>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>